<ion-header>
  <ion-navbar>
    <ion-title>
      Doge Project
    </ion-title>
    <ion-buttons end>
      <button (click)="add()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="showingWelcome == true">
    <ion-card-header>
      Le docs:
    </ion-card-header>
    <ion-card-content>
      <p>
        Click to dismiss <strong>dismiss</strong> this notification,
        notification. I dare you. It will
        not be shown again for this session. No data
        is persisted in this application.
      </p>
      <ion-buttons end>
        <button primary (click)="dismissWelcome()">
          Dismiss
        </button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let product of productList">
      {{product.name}}
      <ion-note item-right>
        {{product.price}}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
